// Styles for the section where users can save books they want to read
h5 {
    padding-top: 50px;
    text-align: center;
}

.savedBooks {
    padding: 100px 0;
    display: flex;
    li {
        padding: 10px;
    }
    img {
        width: 100px;
    }
}



