html {
    font-size: 62.5%;
    font-family: $mainFont;
    color: $mainColor;
}

main,
.modalContent {    
    background-color: #FFEFEF;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: $mainColor;
    transition: all 0.3s;
    &:hover,
    &:focus {
    color: $secondaryColor;
    text-decoration: underline;
    }
}

footer,
.bookList {
    background-color: $background;
}

// Start of font styling
h1 {
    font-size: 9rem;
}

h2,
a, 
h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 4rem;
}

h1,
h5 {
    font-family: $secondaryFont;
    text-transform: uppercase;
}

button {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}

.wrapper {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}