html {
    font-size: 62.5%;
    font-family: $mainFont;
    color: $mainColor;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: $mainColor;
    transition: all 0.3s;
    &:hover,
    &:focus {
    color: $accentColor;
    text-decoration: underline;
    }
}

// Start of font styling
h1 {
    font-size: 9rem;
}

h2,
a, 
h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 4rem;
}

button,
h6 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
}

h1,
h5 {
    font-family: $secondaryFont;
    text-transform: uppercase;
}

h2,
h4,
h6,
.modalContent p {
    text-align: center;
}

h4 span {
    font-size: 3rem;
    font-weight: bold;
    display: block;
}

.wrapper {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}

// Background colours

main,
.modalContent {    
    background-color: #FFEFEF;
}

.bookList, 
header {
    background-color: $background;
}

footer {
    background-color: darken($background, 20%);
}
