.modal {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    max-height: 90vh;
    width: 40%;
    border: 2px solid $mainColor;
    border-radius: 5px;
    position: relative;
}

.modalContent h4,
.modalContent p {
    padding-bottom: 40px;
}

.book {
    width: 140px;
    border: 5px solid $mainColor;
    border-radius: 2px;
    margin-bottom: 40px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.modalContent button {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}

.modalContent i {
    color: darken($accentColor, 10%);
    font-size: 3rem;
    display: block;

}

.modalContent i:hover {
    color: darken($accentColor, 15%);
}

.modalContent button:focus {
    border: 1px solid darken($accentColor, 10%);
}