// Styles for the section where users can save books they want to read
h5 {
    padding-top: 50px;
    text-align: center;
}

.savedBooks {
    padding: 100px 0;
    display: flex;
    li {
        padding: 10px;
        position: relative;
        
    }
    img {
        width: 100px;
        
    }
}

.savedBooks i {
    font-size: 1.8rem;
    color: darken($secondaryColor, 7%);
    position: absolute;
    top: 10px;
    left: 13px;
}

.savedBooks i:hover,
.savedBooks i:focus {
    color: $mainColor;
}



