h2 {
    text-align: center;
    padding: 70px 0 20px 0;
}

button {
    background-color: $mainColor;
    color: #fff;
    border: 2px solid $mainColor;
    padding: 10px 30px;
    border-radius: 5px;
    width: 250px;
}

button:hover,
button:focus {
    background-color: $secondaryColor;
    color: $mainColor;
    border: 2px solid $mainColor;
}


.bookSelect {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
        li {
            margin-bottom: 15px;
        }
}