// These are the scss variables

// COLOR VARIABLES 

$mainColor: #2E2F40;
$accentColor: rgb(249, 124, 126);
$background: #E7EFF4;

// FONT VARIABLES

$mainFont: 'Playfair Display', serif;
$secondaryFont: 'Oswald', sans-serif;