// Media queries to make the site responsive

@media (max-width: 1100px) {
    h1 {
        font-size: 8rem;
    }
}

@media (max-width: 900px) {
    button {
        width: 180px;
    }
}

@media (max-width: 795px) {
    h1 {
        font-size: 6rem;
    }

    h2,
    a {
        font-size: 2rem;
    }

    .wrapper {
        width: 80%;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 4rem;
    }
}